<template>
    <div>
        <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <router-link class="navbar-item" :to="{ name: 'home' }">
                    <img src="../assets/img/logo.png" width="112" height="28">
                </router-link>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <router-link class="navbar-item" :to="{ name: 'home' }">Home</router-link>


                    <router-link class="navbar-item" :to="{ name: 'about' }">Sobre mi</router-link>
                    <router-link class="navbar-item" :to="{ name: 'home' }">Servicios</router-link>
                    <router-link class="navbar-item" :to="{ name: 'home' }">Blog</router-link>
                    <router-link class="navbar-item" :to="{ name: 'contacto' }">Contacto</router-link>
                    <router-link class="navbar-item" :to="{ name: 'home' }">Redes Sociales</router-link>


                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <p>

        </p>
        <div>
            <router-view></router-view>
        </div>
        <footer-component></footer-component>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('NavBar mounted.')
        }
    }
</script>

<style lang="scss">

    html, body {
        color: #636b6f;
        font-family: Flat Sans Bold,sans-serif;
        margin: 0;
        padding: 0;
    }


</style>