<template>
    <div>
        <div class="columns">
            <div class="column is-size-6" id="about">
                <div class="column is-8 is-offset-2 is-size-1">
                    <h1>Solicitar Presupuesto</h1>
                </div>
                <form-email-component></form-email-component>
            </div>
            <div class="column">
                <img src="../assets/img/321px-ModelViewControllerDiagram_es.svg.png" alt="">
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Contacto mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    div {
        margin-top:0.5rem ;
        margin-bottom:0.5rem ;
        .column{
            img{
                width: 100%;
                height: 100%;
            }
        }
        #about {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
</style>
