<template>
    <div>
        <div id="header" class="is-12 is-marginless is-paddingless">

        </div>
        <div class="container">


            <columns-component></columns-component>
            <hr>
            <form-email-component></form-email-component>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    #header{
        background-image: url("../assets/img/Home-page55.png");
        background-repeat: no-repeat;
        border-bottom: 1px solid #efefef;
        background-size: 100% 400px;
        width: 100%;
        height: 400px;

    }
</style>
