<template>
    <div>
        <div class="container">

            <div id="notfound" class="is-12 is-center text-center">
                <img src="../assets/img/error-img.png" alt="">
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('404 mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    #notfound{
        text-align:center;
        margin: 2rem;
        img{
            width: 50%;
        }
    }

</style>
