<template>
    <div class="columns">
        <div class="column backgro">
        </div>
        <div class="column is-size-6" id="about">
            ¡Hola! Si has llegado hasta esta página es porque quieres saber <b> ¿quién soy?</b><br><br>
            Mi nombre es <b> Carlos Delgado </b> y tengo 28 años. Soy de un pueblo muy pequeño de Córdoba
            llamado Santa Eufemia. He estudiado en Barcelona y Alicante hasta convertirme en consultor
            SEO. También realizo campañas en Google Ads y mi trabajo se sustenta en un pilar esencial en
            el mundo del marketing, la Analítica Web. <br><br>
            Aunque vivo en Alicante, trabajo en proyectos en toda España. Me dedico al posicionamiento
            de webs de forma orgánica y de pago. Desde hace 8 años me llevo formando en la disciplina
            del marketing y la publicidad. Primero estudié Comercio y Marketing en Barcelona, dos años
            después estudié Publicidad y Relaciones Públicas en la Universidad de Alicante. Y más tarde
            realicé el Máster en Marketing Online y Comercio Digital en la escuela de negocios EAE
            Business School. <br><br>
            <b> Considero que es muy importante hacer un buen trabajo de SEO para
            posicionar tu web </b>teniendo en cuenta la infinidad de factores que existen para conseguir
            clientes. Por este motivo no descarto otros canales como la publicidad en redes sociales o el
            conjunto de técnicas que se utilizan para elevar la tasa de conversión en un proyecto web. <br><br>
            Soy una persona muy inquieta que no paro de nutrirme de información de calidad sobre el
            sector digital y publicitario. Y desde que lancé mi web Trafficro, también
            <b><u> creo contenido </u></b> de todo aquello que me resulta interesante y que le puede ser de utilidad a
            otras personas.
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Sobre mi mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    .backgro{
        background-image: url("../assets/img/SOBRE-MI.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
    }
    .column{
        img{
            width: 100%;
            height: 100%;
        }
    }
    #about {
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
        min-height: 400px;
    }

</style>
