<template>
    <div>
        <div class="columns has-text-centered is-desktop">
            <div class="column">
                <p class="is-12 is-size-3 is-black">Auditoría SEO</p>
                <img src="../../assets/img/autoria-seo.png" alt="">
                <ul>
                    <li>Indexabilidad</li>
                    <li>Arquitectura de la Información</li>
                    <li>Contenidos</li>
                    <li>Popularidad Web</li>
                    <li>WPO (Web Performance Optimization)</li>
                </ul>

            </div>
            <div class="column">
                <p class="is-12 is-size-3 is-black">SEO Técnico</p>
                <img src="../../assets/img/seo-tecnico.png" alt="">
                <ul>
                    <li>Google, Yandex y Baidu</li>
                    <li>Migraciones Web</li>
                    <li>SEO ON PAGE</li>
                    <li>SEO OFF PAGE</li>
                    <li>Elaboración y Optimización de Contenidos</li>
                </ul>

            </div>
            <div class="column">
                <p class="is-12 is-size-3 is-black">Analítica Web</p>
                <img src="../../assets/img/analitica-web.png" alt="">
                <ul>
                    <li>Google Analytics</li>
                    <li>Informes Estadísticos Entendibles</li>
                    <li>Análisis Cualitativo de la Competencia</li>
                    <li>Segmentación y Análisis del Tráfico</li>
                    <li>Tag Manager y Tracking de Interacciones</li>
                </ul>

            </div>
        </div>

        <div class="columns has-text-centered is-desktop">
            <div class="column">
                <p class="is-12 is-size-3 is-black">Google Ads</p>
                <img src="../../assets/img/google.png" alt="">
                <ul>
                    <li>Diseño de campañs SEM</li>
                    <li>Gestión científica de los anuncios</li>
                    <li>Creación de anuncios atractivos</li>
                    <li>Remarketing</li>
                    <li>Estrategia no Intrusiva</li>
                </ul>

            </div>
            <div class="column">
                <p class="is-12 is-size-3 is-black">Facebook Ads</p>
                <img src="../../assets/img/fb-ads.png" alt="">
                <ul>
                    <li>Gestión Business Manager</li>
                    <li>Inserción Pixel Facebook</li>
                    <li>Segmentación Avanzada</li>
                    <li>Remarketing Dinámico</li>
                    <li>Informe Adaptado al Cliente</li>
                </ul>

            </div>
            <div class="column">
                <p class="is-12 is-size-3 is-black">CRO</p>
                <img src="../../assets/img/cro.png" alt="">
                <ul>
                    <li>Análisis del Sitio Web</li>
                    <li>Mapeo y Pruebas A/B</li>
                    <li>Email Marketing</li>
                    <li>Rediseño de Estrategia</li>
                    <li>Análisis Abandono del Carrito de Compra</li>
                </ul>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Columns mounted.')
        }
    }
</script>

<style lang="scss" scoped>
    img{
        margin-top: 1rem;
        width: 40%;
        height: auto;
    }
</style>