<template>
        <div class="column is-8 is-offset-2">
            <form v-on:submit.prevent="sendMessage()">
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="nameEmail" placeholder="Nombre" v-model="nameEmail">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="email" name="userEmail" placeholder="Email" v-model="userEmail">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="text" name="asunto" placeholder="Asunto" v-model="asunto">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea name="emailMessage" id="textarea" class="input is-medium" placeholder="Mensaje" v-model="emailMessage"></textarea>
                </div>
            </div>
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            </form>
        </div>
</template>

<script>
    export default {
        data(){
            return {
                nameEmail: '',
                userEmail: '',
                emailMessage: '',
                asunto: '',
            }
        },
        mounted() {
            console.log('Form mounted.')
        },
        methods: {
            sendMessage(){
                const params = {
                    nameEmail: this.nameEmail,
                    userEmail: this.userEmail,
                    emailMessage: this.emailMessage,
                    asunto: this.asunto,
                }
                console.log(params);
            }
        }
    }
</script>

<style lang="scss" scoped>
    #textarea{
        height: 150px;
    }
</style>